<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <!-- Title -->
  <title>Groots</title>
  <!-- Favicon -->
  <!--<link rel="icon" href="img/core-img/favicon.ico">-->
  <!-- Core Stylesheet -->
  <link rel="stylesheet" href="css/main.css">
  <script src="js/lib/angular.min.js" ></script>
  <script src="js/lib/angular-route.min.js" ></script>
  <script src="js/app.js" ></script>
</head>
<body ng-app="grootsApp" ng-Controller="langCtrl">
  <!-- Preloader -->
  <div class="preloader d-flex align-items-center justify-content-center">
    <div class="spinner"></div>
  </div>
  <!-- ##### Header Area Start  ##### -->
  <header class="header-area">
    <!-- Navbar Area -->
    <!--<div class="lang-hov" style="background: whitesmoke;height: 70px;padding: 10px;">
      <div style="margin:auto; width: 300px;">
        <p style="float: left;">change language</p>
        <select class="form-control" style="width: 130px;height: 40px;;;float: right;" id="lang" ng-model="selectedLang" ng-change="changed()">
          <option value="fr" selected>{{lang.french}}</option>
          <option value="en">{{lang.english}}</option>
        </select>
      </div>
    </div>-->
    <div class="famie-main-menu">
      <div class="classy-nav-container breakpoint-off">
        <div class="container">
          <!-- Menu -->
          <nav class="classy-navbar justify-content-between" id="famieNav">
            <!-- Nav Brand -->
            <a href="index.html" style="font-size: 36px;"><span style="color: green;">G</span>roots</a>
            <!-- Navbar Toggler -->
            <div class="classy-navbar-toggler">
              <span class="navbarToggler"><span></span><span></span><span></span></span>
            </div>
            <!-- Menu -->
            <div class="classy-menu">
              <!-- Close Button -->
              <div class="classycloseIcon">
                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
              </div>
              <!-- Navbar Start -->
              <div class="classynav">
                <ul>
                  <li><a style="cursor: pointer;" onclick="scrollToElem('about')">{{lang.about}}</a></li>
                  <li><a style="cursor: pointer;" onclick="scrollToElem('service')">{{lang.our}} Service</a></li>
                  <li><a style="cursor: pointer;" onclick="scrollToElem('products')">{{lang.our}} {{lang.product}}s</a></li>
                  <li><a style="cursor: pointer;" onclick="scrollToElem('contact')">Contact</a></li>
                </ul>
                <!-- Navbar End -->
              </div>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ##### Header Area End ##### -->

  <!-- ##### Hero Area Start ##### -->
  <div class="hero-area">
    <div class="welcome-slides owl-carousel">

      <!-- Single Welcome Slides -->
      <div class="single-welcome-slides bg-img bg-overlay jarallax"
        style="background-image: url(img/bg-img/plant-factoty.jpg);">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12 col-lg-10">
              <div class="welcome-content">
                <h2 data-animation="fadeInUp" data-delay="200ms">{{lang.slide_one_title}}</h2>
                <p data-animation="fadeInUp" data-delay="400ms">{{lang.slide_one_content}}</p>
                <a class="btn famie-btn mt-4" data-animation="fadeInUp" data-delay="400ms" onclick="scrollToElem('contact')">{{lang.contact_us}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Single Welcome Slides -->
      <div class="single-welcome-slides bg-img bg-overlay jarallax"
        style="background-image: url(img/bg-img/bio-food.jpeg);">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12 col-lg-10">
              <div class="welcome-content">
                <h2 data-animation="fadeInDown" data-delay="200ms">{{lang.slide_two_title}}</h2>
                <p data-animation="fadeInDown" data-delay="400ms">{{lang.slide_two_content}}</p>
                <a class="btn famie-btn mt-4" data-animation="fadeInDown" data-delay="400ms" onclick="scrollToElem('contact')">{{lang.contact_us}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- ##### Hero Area End ##### -->

  <!-- ##### About Us Area Start ##### -->
  <section id="about" class="about-us-area" style="padding-top: 100px;">
    <div  class="container">
      <div class="align-items-center">
        <!-- About Us Content -->
        <div>
          <div class="about-us-content mb-100">
            <!-- Section Heading -->
            <div class="section-heading">
              <h2>{{lang.about}} Groots</h2>
              <img src="img/core-img/decor.png" alt="">
            </div>
            <p>{{lang.mini_description}}</p>
            <a href="#" class="btn famie-btn mt-30">{{lang.read_more}}</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ##### About Us Area End ##### -->

  <!-- ##### Services Area Start ##### -->
  <section class="services-area d-flex flex-wrap" id="service">
    <!-- Service Thumbnail -->
    <div class="services-thumbnail bg-img" style="background-image: url('img/bg-img/service2.jpeg');"></div>

    <!-- Service Content -->
    <div class="services-content section-padding-100-50 px-5">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <!-- Section Heading -->
            <div class="section-heading">
              <p>{{lang.our}} service</p>
              <h2>{{lang.service_header}}</h2>
              <img src="img/core-img/decor.png" alt="">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 mb-50">
            <p>{{lang.service_description}}</p>
          </div>
          <!-- Single Service Area -->
          <div class="col-12 col-lg-6">
            <div class="single-service-area mb-50 wow fadeInUp" data-wow-delay="100ms">
              <!-- Service Title -->
              <div class="service-title mb-3 d-flex align-items-center">
                <h5>{{lang.service_title_one}}</h5>
              </div>
              <p>{{lang.service_par_one}}</p>
            </div>
          </div>

          <!-- Single Service Area -->
          <div class="col-12 col-lg-6">
            <div class="single-service-area mb-50 wow fadeInUp" data-wow-delay="300ms">
              <!-- Service Title -->
              <div class="service-title mb-3 d-flex align-items-center">
                <h5>{{lang.service_title_two}}</h5>
              </div>
              <p>{{lang.service_par_two}}</p>
            </div>
          </div>

          <!-- Single Service Area -->
          <div class="col-12 col-lg-6">
            <div class="single-service-area mb-50 wow fadeInUp" data-wow-delay="700ms">
              <!-- Service Title -->
              <div class="service-title mb-3 d-flex align-items-center">
                <h5>{{lang.service_title_three}}</h5>
              </div>
              <p>{{lang.service_par_three}}</p>
            </div>
          </div>

          <!-- Single Service Area -->
          <div class="col-12 col-lg-6">
            <div class="single-service-area mb-50 wow fadeInUp" data-wow-delay="500ms">
              <!-- Service Title -->
              <div class="service-title mb-3 d-flex align-items-center">
                <h5>{{lang.service_title_four}}</h5>
              </div>
              <p>{{lang.service_par_four}}</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
  <!-- ##### Services Area End ##### -->

  <!-- ##### Our Products Area Start ##### -->
  <section class="our-products-area section-padding-100" id="products">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- Section Heading -->
          <div class="section-heading text-center">
            <p>{{lang.featured_products}}</p>
            <h2><span>{{lang.our}} {{lang.product}}s</span> {{lang.highest_quality}}</h2>
            <img src="img/core-img/decor2.png" alt="">
          </div>
        </div>
      </div>

      <div class="row">

        <!-- Single Product Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-product-area mb-50 wow fadeInUp" data-wow-delay="100ms">
            <!-- Product Thumbnail -->
            <div class="product-thumbnail">
              <img class="p-img" style="width: 170px; height:170px;" src="img/bg-img/lettuce.jpeg" alt="">
              <!-- Product Meta Data -->
              <div class="product-meta-data">
                <a id="likelettuce" data-toggle="tooltip" data-placement="top" title="Favourite"><i
                    class="icon_heart_alt"></i></a>
              </div>
            </div>
            <!-- Product Description -->
            <div class="product-desc text-center pt-4">
              <a href="#" class="product-title">{{lang.lettuce}}</a>
            </div>
          </div>
        </div>

        <!-- Single Product Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-product-area mb-50 wow fadeInUp" data-wow-delay="300ms">
            <!-- Product Thumbnail -->
            <div class="product-thumbnail">
              <img class="p-img" style="width: 170px; height:170px;" src="img/bg-img/microgreens.jpeg" alt="">
              <!-- Product Meta Data -->
              <div class="product-meta-data">
                <a id="likeMicrogreens" data-toggle="tooltip" data-placement="top" title="Favourite"><i
                    class="icon_heart_alt"></i></a>
              </div>
            </div>
            <!-- Product Description -->
            <div class="product-desc text-center pt-4">
              <a href="#" class="product-title">{{lang.microgreens}}</a>
            </div>
          </div>
        </div>

        <!-- Single Product Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-product-area mb-50 wow fadeInUp" data-wow-delay="500ms">
            <!-- Product Thumbnail -->
            <div class="product-thumbnail">
              <img class="p-img" style="width: 170px; height:170px;" src="img/bg-img/basil.jpg" alt="">
              <!-- Product Meta Data -->
              <div class="product-meta-data">
                <a id="likeBasil" data-toggle="tooltip" data-placement="top" title="Favourite"><i
                    class="icon_heart_alt"></i></a>
              </div>
            </div>
            <!-- Product Description -->
            <div class="product-desc text-center pt-4">
              <a href="#" class="product-title">{{lang.basil}}</a>
            </div>
          </div>
        </div>

        <!-- Single Product Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-product-area mb-50 wow fadeInUp" data-wow-delay="700ms">
            <!-- Product Thumbnail -->
            <div class="product-thumbnail">
              <img class="p-img" style="width: 170px; height:170px;" src="img/bg-img/spanich.jpg" alt="">
              <!-- Product Meta Data -->
              <div class="product-meta-data">
                <a id="likeSpanich" data-toggle="tooltip" data-placement="top" title="Favourite"><i
                    class="icon_heart_alt"></i></a>
              </div>
            </div>
            <!-- Product Description -->
            <div class="product-desc text-center pt-4">
              <a href="#" class="product-title">{{lang.spanich}}</a>
            </div>
          </div>
        </div>

           <!-- Single Product Area -->
           <div class="col-12 col-sm-6 col-lg-3">
            <div class="single-product-area mb-50 wow fadeInUp" data-wow-delay="700ms">
              <!-- Product Thumbnail -->
              <div class="product-thumbnail">
                <img class="p-img" style="width: 170px; height:170px;" src="img/bg-img/arugula.jpg" alt="">
                <!-- Product Meta Data -->
                <div class="product-meta-data">
                  <a id="likeArugula" data-toggle="tooltip" data-placement="top" title="Favourite"><i
                      class="icon_heart_alt"></i></a>
                </div>
              </div>
              <!-- Product Description -->
              <div class="product-desc text-center pt-4">
                <a href="#" class="product-title">{{lang.arugula}}</a>
              </div>
            </div>
          </div>
      </div>
      <div style="text-align: center;font-size: 22px;color:lightgray;">{{lang.more_to_come}}...</div>
  </section>
  <!-- ##### Our Products Area End ##### -->

  <!-- ##### Newsletter Area Start ##### -->
  <section class="newsletter-area section-padding-100 bg-img bg-overlay jarallax"
    style="background-image: url('img/bg-img/8.jpg');">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
          <div class="newsletter-content">
            <!-- Section Heading -->
            <div class="section-heading white text-center">
              <h2>{{lang.subscribe_header}}</h2>
              <img src="img/core-img/decor2.png" alt="">
            </div>
            <p class="text-white mb-50 text-center">{{lang.subscribe_content}}</p>
          </div>
        </div>
      </div>
      <!-- Newsletter Form -->
      <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
          <div class="subscription">{{lang.subscribe_message}}</div>
          <div class="errorsubscription">{{lang.sent_error}}</div>
          <form id="Subscribe">
            <input type="email" id="emailsub" class="form-control" placeholder="{{lang.your}} {{lang.email}}">
            <button type="submit" class="btn famie-btn">{{lang.subscribe}}</button>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- ##### Newsletter Area End ##### -->

  <!-- ##### Farming Practice Area Start ##### -->
  <section class="farming-practice-area section-padding-100-50">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- Section Heading -->
          <div class="section-heading text-center">
            <h2>{{lang.problems_header}}</h2>
            <img src="img/core-img/decor2.png" alt="">
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Single Farming Practice Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-farming-practice-area mb-50 wow fadeInUp" data-wow-delay="400ms">
            <!-- Thumbnail -->
            <div class="farming-practice-thumbnail">
            </div>
            <!-- Content -->
            <div class="farming-practice-content text-center">
              <!-- Icon -->
              <div class="farming-icon">
                <img src="img/core-img/cereal.png" alt="">
              </div>
              <h4>{{lang.problem_title_one}}</h4>
              <p>{{lang.problem_content_one}}</p>
            </div>
          </div>
        </div>

        <!-- Single Farming Practice Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-farming-practice-area mb-50 wow fadeInUp" data-wow-delay="500ms">
            <!-- Thumbnail -->
            <div class="farming-practice-thumbnail">
            </div>
            <!-- Content -->
            <div class="farming-practice-content text-center">
              <!-- Icon -->
              <div class="farming-icon">
                <img src="img/core-img/sprout.png" alt="">
              </div>
              <h4>{{lang.problem_title_two}}</h4>
              <p>{{lang.problem_content_two}}</p>
            </div>
          </div>
        </div>

        <!-- Single Farming Practice Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-farming-practice-area mb-50 wow fadeInUp" data-wow-delay="600ms">
            <!-- Thumbnail -->
            <div class="farming-practice-thumbnail">
            </div>
            <!-- Content -->
            <div class="farming-practice-content text-center">
              <!-- Icon -->
              <div class="farming-icon">
                <img src="img/core-img/vegetable.png" alt="">
              </div>
              <h4>{{lang.problem_title_three}}</h4>
              <p>{{lang.problem_content_three}}</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- ##### Farming Practice Area End ##### -->

  <!-- ##### Contact Area Start ##### -->
  <section class="contact-area section-padding-100-0" id="contact">
    <div class="container">
      <div class="row justify-content-between">

        <!-- Contact Content -->
        <div class="col-12 col-lg-12">
          <div class="contact-content mb-100">
            <!-- Section Heading -->
            <div class="section-heading">
              <p>{{lang.contact_us}}</p>
              <h2><span>{{lang.get_in_touch}}</span> {{lang.with_us}}</h2>
              <img src="img/core-img/decor.png" alt="">
            </div>
            <!-- Contact Form Area -->
            <div class="contact-form-area">
              <div class="notification">{{lang.contact_success}}</div>
              <div class="errorcontact">{{lang.sent_error}}</div>
              <!-- Validation -->
              <form id="contactForm">
                <div class="row">
                  <div class="col-lg-6">
                    <input type="text" class="form-control" name="name" id="name" placeholder="{{lang.name}}">
                  </div>
                  <div class="col-lg-6">
                    <input type="email" class="form-control" name="email" id="email" placeholder="{{lang.email}}">
                  </div>
                  <div class="col-12">
                    <input type="text" class="form-control" name="subject" id="subject" placeholder="{{lang.subject}}">
                  </div>
                  <div class="col-12">
                    <textarea name="message" id="message" class="form-control" cols="30" rows="10"
                      placeholder="Message"></textarea>
                  </div>
                  <div class="col-12">
                    <button type="submit" class="btn famie-btn">{{lang.send}}</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <!-- Contact Maps -->

      </div>
    </div>
  </section>
  <!-- ##### Contact Area End ##### -->

  <!-- ##### Footer Area Start ##### -->
<!-- Footer -->
<footer class="page-footer font-small" style="background-color: #f2f4f5;border-top: 1px solid green; padding: 20px 0px;">
  <div style="width:130px; float: left;;position: relative;left: 30px;">
    <div style="color: black;font-weight: bold;margin-bottom: 5px;">{{lang.language}}</div>
    <select class="form-control"  id="lang" ng-model="selectedLang" ng-change="changed()">
      <option value="fr" selected>{{lang.french}}</option>
      <option value="en">{{lang.english}}</option>
    </select>
  </div>
  <!-- Social buttons -->
  <ul class="list-unstyled list-inline text-center footer-social-info">
    <li class="list-inline-item">
      <a class="btn-floating btn-fb mx-1">
        <i class="fa fa-facebook-f"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-tw mx-1">
        <i class="fa fa-twitter"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-gplus mx-1">
        <i class="fa fa-instagram"> </i>
      </a>
    </li>
  </ul>
  <!-- Social buttons -->
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="#">Groots</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
  <!-- ##### Footer Area End ##### -->
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/4.3.0/firebase.js"></script>
    <script src= 
    "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> 
        </script>
    <script src="js/lib/jquery.min.js"></script>
    <script src="js/init.js"></script>
    <script src="main.js"></script>
    <!-- ##### All Javascript Files ##### -->
    <!-- Popper js -->
    <script src="js/lib/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/lib/bootstrap.min.js"></script>
    <!-- Owl Carousel js -->
    <script src="js/lib/owl.carousel.min.js"></script>
    <!-- Classynav -->
    <script src="js/lib/classynav.js"></script>
    <!-- Scrollup js -->
    <script src="js/lib/jquery.scrollup.min.js"></script>
    <script src="js/lib/wow.min.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
    <script src="https://smtpjs.com/v3/smtp.js"></script>
</body>
</html>